.account_window_bg {
  width: 25rem;
  height: auto;
  padding: 1rem 0rem 0.5rem 0rem;
  position: fixed;
  top: 5rem;
  right: 4rem;
  border: 1px solid lightgray;
  background-color: #fff;
  z-index: 4;
  border-radius: 3px;
  &:after {
    content: "";
    top: -2rem;
    right: 1rem;
    position: absolute;
    border: 1rem solid transparent;
    border-bottom: 1rem solid lightgray;
  }
  a {
    display: block;
    padding: 0.5rem 0rem 0.5rem 1rem;
    width: 100%;
    color: rgb(90, 86, 86);
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: rgb(51, 50, 50) !important;
      background-color: lightgray;
    }
  }
}
