.photospage_bg {
  min-height: 25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url(../media/countryside.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  h1 {
    font-size: 3rem;
    font-weight: 800;
  }
  h6{
    font-size: 1rem;
    font-weight: 700;
  }
  div.input-group {
    input.form-control {
      border-right: transparent;
    }
    div.input-group-append {
      a.input-group-text {
        background-color: #fff;
        border-left: 0;
      }
    }
  }
}

div {
  div {
    div {
      h6 {
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .photospage_bg {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
