.photospage_bg {
  min-height: 25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url(../media/countryside.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  h1{
    font-size: 3rem;
    font-weight: 700;
}
  div.input-group {
    div.input-group-append {
      span.input-group-text {
        background-color: #fff;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .photospage_bg {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}



