.photospage_bg {
  height: 100%;
  max-height: 40rem;
  min-height: 35rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #8e8a8a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  .photo_search_input {
    width: 75%;
    margin: 0 auto;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Archivo Black", sans-serif;
  }
  h6 {
    font-size: 1rem;
    font-weight: 400;
  }
  div.input-group {
    input.form-control {
      border: none;
      &:focus {
        outline: 0;
        outline-offset: 0;
        box-shadow: none;
      }
    }
    div.input-group-append {
      a.input-group-text {
        border: none;
        background-color: #fff;
      }
    }
  }
}

div {
  div {
    div {
      h6 {
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
}

div.info-for-image {
  position: relative;
  margin-bottom: 0.5rem;
  cursor: pointer;
  img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
  }
  &:hover {
    div.image-photographer {
      visibility: visible;
    }
  }
  span:nth-of-type(2) {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    z-index: 2;
  }
  span:nth-of-type(1) {
    position: absolute;
    right: 5rem;
    bottom: 1rem;
    z-index: 2;
  }
  div.image-photographer {
    visibility: hidden;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.76), transparent);
    position: absolute;
    min-height: 4rem;
    width: 100%;
    bottom: 0rem;
    z-index: 1;
    p {
      margin: 1.5rem 1rem 0 1rem;
      color: white;
      font-size: 1rem;
    }
  }
}

.liked {
  fill: red !important;
  stroke: red !important;
}
.heart {
  fill: transparent;
  stroke: white;
  stroke-width: 0.2rem;
}

@media screen and (max-width: 850px) {
  div.info-for-image {
    min-height: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .photospage_bg {
    padding-top: 13rem !important;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 440px) {
  .photo_search_input {
    width: 100% !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 414px) {
  .photospage_bg {
    padding-top: 7rem !important;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .photospage_bg {
    padding-top: 5rem !important;
    padding-bottom: 3rem;
  }
  div.info-for-image {
    min-height: 11rem;
  }
}
