div#main_menu {
  a {
    color: #fff;
  }
  position: relative;
  background-color: #232a34;
  .row {
    min-height: 4rem;
    div > a {
      color: #fff;
    }
  }
  button {
    position: absolute;
    right: 0.5rem;
    background-color: transparent;
    border: 0;
    outline: none;
  }
  form > div {
    input {
      animation: show_input ease 3s;
      border-radius: 0;
    }
    div {
      animation: show_input ease 3s;
      span{
          background-color: #fff;
          border-radius: 0;
          border: 0;
      }
    }
  }
}

div#main_menu_submenu {
  width: 0%;
  height: 100%;
  padding: 0;
  position: absolute;
  z-index: 10;
  background-color: #05a081;
  box-shadow: 14px 0px 7px #343a40;
  div > div > a {
    color: #fff;
    animation: show_name ease 1.8s;
  }
  div.row {
    height: 80%;
  }
}

div.streak {
  opacity: 0.3;
  z-index: 3;
  top: 4rem;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #343a40;
}

@keyframes show_name {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_input {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
