header{
position: sticky;
  top: 0px;
  z-index: 5;


div#main_menu {
  position: relative;
  background-color: #232a34;
  a {
    color: #fff;
  }
  .row {
    min-height: 4rem;
    div > a {
      color: #fff;
    }
  }
  button {
    position: absolute;
    right: 0.5rem;
    background-color: transparent;
    border: 0;
    outline: none;
  }
  form > div.input-group {
    input.form-control {
      animation: show_input ease 2s;
      border-radius: 0;
      border: 0;
    }
    div {
      animation: show_input ease 2s;
      span{
          background-color: #fff;
          border-radius: 0;
          border: 0;
      }
    }
  }
}

div#main_menu_submenu {
  margin: 0;
  position: absolute;
  top: 4rem;
  left: 0rem;
  width: 0%;
  height: 92vh;
  padding: 0;
  background-color: #232a34b0;
  div > div > a {
    color: #fff;
    animation: show_name ease 2s;
    text-decoration: none;
    &:hover{
        color: #dc448a;
    }
  }
  div.row {
    height: 80%;
    margin: 0;
  }
}

div.streak {
  opacity: 0.3;
  z-index: 3;
  top: 4rem;
  width: 97vw;
  height: 100vh;
  position: absolute;
  background-color: #343a40;
}
}

@keyframes show_name {
  0% {
    opacity: 0;
    font-size: 0rem !important;
  }
  100% {
    font-size: 1rem !important;
    opacity: 10 !important;
  }
}

@keyframes show_input {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
