header.main_item_foto_page {
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100%;
  div.navigation_foto_page {
    position: relative;
    a {
      color: #fff;
    }
    .row {
      min-height: 4.125rem;
      div > a.btn {
        width: 2.7rem;
        height: 2.7rem;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.9rem;
        font-family: "Fredoka One", cursive;
        background-color: rgb(5, 160, 129);
      }
    }
    button {
      position: absolute;
      right: 0.5rem;
      background-color: transparent;
      border: 0;
      outline: none;
    }
    form > div.input-group {
      div {
        span {
          background-color: #fff;
        }
      }
    }
  }

  div#photo_page_submenu {
    margin: 0;
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: #232a34ed;
    z-index: -1;
    div > div > a {
      color: #ffffff;
      opacity: 0.7;
      font-size: 1.375rem;
      text-decoration: none;
      &:hover {
        opacity: 1;
        color: white;
      }
    }
    div.row {
      height: 80%;
      margin: 0;
      padding-top: 5rem;
    }
  }

  div.streak {
    opacity: 0.3;
    z-index: 3;
    top: 4rem;
    width: 97vw;
    height: 100vh;
    position: absolute;
    background-color: #343a40;
  }
}
