.video_search-small-area {
  form {
    div.input-group {
      input.form-control {
        border: none;
        &:focus {
          outline: 0;
          outline-offset: 0;
          box-shadow: none;
        }
      }
      div.input-group-append {
        a.input-group-text {
          border: none;
          background-color: #fff;
        }
      }
    }
  }
}
