div.video-result-bages.row {
  div {
    ul {
      li {
        padding: 0;
        border-radius: 0 !important;
        border: 0.1rem solid lightgray !important;
        a {
          display: inline-block;
          text-decoration: none;
          padding: 0.5rem 0.5rem;
          color: black;
        }
        .video-result-bages-active {
          outline: 0.17rem solid blue;
        }
      }
    }
  }
}

h5{
    font-size: 2rem;
    font-weight: 700;
}
