.mylikes-collection-bg {
  max-width: 1500px;
  div {
    div:nth-of-type(1) {
      .info-elem {
        margin: 0 auto 0.5rem auto;
        cursor: pointer;
        position: relative;
        &:hover {
          div.elem-data {
            visibility: visible;
          }
        }
        img {
          display: block;
          height: auto;
          width: 100%;
        }
        div.video-item {
          position: relative;
          video {
            width: 100%;
            background-color: lightgray;
          }
          .video_btn_control {
            position: absolute;
            top: 35%;
            left: 45%;
            svg {
              font-size: 3.5rem;
              color: white;
            }
          }
        }
        .elem-data {
          visibility: hidden;
          background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.76),
            transparent
          );
          position: absolute;
          min-height: 4rem;
          width: 100%;
          bottom: 0rem;
          z-index: 1;
          p {
            margin: 1.5rem 1rem 0 1rem;
            color: white;
            font-size: 1rem;
          }
        }
        span:nth-of-type(3) {
          position: absolute;
          right: 2rem;
          bottom: 1rem;
          z-index: 2;
        }
        span:nth-of-type(2) {
          position: absolute;
          right: 5rem;
          bottom: 1rem;
          z-index: 2;
          svg {
            color: white;
            font-size: 1.5rem;
          }
        }
        span:nth-of-type(1) {
          position: absolute;
          right: 8rem;
          bottom: 1rem;
          z-index: 2;
        }
      }
    }
    div:nth-of-type(2) {
      .info-elem {
        margin: 0 auto 0.5rem auto;
        cursor: pointer;
        position: relative;
        &:hover {
          div.elem-data {
            visibility: visible;
          }
        }
        img {
          display: block;
          height: auto;
          width: 100%;
        }
        div.video-item {
          position: relative;
          video {
            width: 100%;
            background-color: lightgray;
          }
          .video_btn_control {
            position: absolute;
            top: 35%;
            left: 45%;
            svg {
              font-size: 3.5rem;
              color: white;
            }
          }
        }
        .elem-data {
          visibility: hidden;
          background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.76),
            transparent
          );
          position: absolute;
          min-height: 4rem;
          width: 100%;
          bottom: 0rem;
          z-index: 1;
          p {
            margin: 1.5rem 1rem 0 1rem;
            color: white;
            font-size: 1rem;
          }
        }
        span:nth-of-type(3) {
          position: absolute;
          right: 2rem;
          bottom: 1rem;
          z-index: 2;
        }
        span:nth-of-type(2) {
          position: absolute;
          right: 5rem;
          bottom: 1rem;
          z-index: 2;
          svg {
            color: white;
            font-size: 1.5rem;
          }
        }
        span:nth-of-type(1) {
          position: absolute;
          right: 8rem;
          bottom: 1rem;
          z-index: 2;
        }
      }
    }
  }
}
