.video_search-small-area {
  form {
    div.input-group {
      input.form-control {
        border-right: transparent;
      }
      div.input-group-append {
        a.input-group-text {
          background-color: #fff;
          border-left: 0;
        }
      }
    }
  }
}
