header.main_item_result_video_page {
  position: sticky;
  top: 0px;
  z-index: 5;
  .navigation_result_video_page {
    position: relative;
    background-color: #232a34ed;
    max-width: 1500px;
    a {
      color: #fff;
    }
    div {
      min-height: 4.125rem;
      div:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: start;
        a.btn {
          width: 2.7rem;
          height: 2.7rem;
          font-size: 2rem;
          font-weight: 900;
          line-height: 1.9rem;
          font-family: "Fredoka One", cursive;
          background-color: rgb(5, 160, 129);
        }
      }
      div:nth-of-type(3) {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 4.125rem;
          svg {
            color: white;
            font-size: 1.7rem;
          }
          span{
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: white;
            margin-left: 3px;
          }
        }
      }
      button {
        position: absolute;
        top: 1rem;
        right: 0.5rem;
        background-color: transparent;
        border: 0;
        outline: none;
        svg {
          font-size: 2rem;
          color: white;
          stroke-width: 20;
        }
      }
    }
  }
}

div.streak {
  opacity: 0.3;
  z-index: 3;
  top: 4rem;
  width: 97vw;
  height: 100vh;
  position: absolute;
  background-color: #343a40;
}
