footer {
  background-color: #071b4d;
  margin-top: 1rem;
  padding: 3% 1%;
  max-width: 1500px !important;
  div {
    max-width: 1500px !important;
    div {
      div {
        a.footer_logo.btn {
          width: 2.7rem;
          height: 2.7rem;
          font-size: 2rem;
          font-weight: 900;
          line-height: 1.9rem;
          font-family: "Fredoka One", cursive;
          background-color: rgb(5, 160, 129) !important;
          color: #ffffff;
          text-align: left;
          text-decoration: none;
        }
      }
      div {
        a {
          display: block;
          font-size: 1rem;
          font-weight: 600;
          color: #ffffff;
          text-align: center;
          line-height: 2.5rem;
        }
      }
    }
  }
}
