div.navigation-pages {
  border-bottom: 0.25rem solid #d3d3d3a3;
  div.row {
    height: 3.6rem;
    div {
      .active {
        border-bottom: 0.25rem solid blue;
      }
      a {
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 0.25rem solid transparent;
      }
    }
  }
}
