.find-video-name {
  margin-top: 2rem;
  div {
    h2 {
      font-size: 1.625rem;
      font-weight: 800;
      text-transform: capitalize;
      text-align: center;
    }
  }
}

.not-find-video-name {
  margin-top: 2rem;
  div:nth-of-type(1) {
    h2 {
      font-size: 1.625rem;
      font-weight: 800;
      text-transform: capitalize;
    }
  }
  div:nth-of-type(2) {
    p:nth-of-type(1) {
      margin-bottom: 0.2rem !important;
      font-size: 1.2rem;
      font-weight: 300;
      color: #5e5e5e;
      text-align: left;
    }
    p:nth-of-type(2) {
      text-align: left;
      margin-bottom: 0.2rem !important;
      font-size: 1.2rem;
      font-weight: 300;
      color: #5e5e5e;
      a {
        text-decoration: none;
      }
    }
  }
}
