div img.gear {
  height: 5rem;
  animation: moving 2s infinite linear;
}

@-webkit-keyframes moving {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg); 
  }
}

@keyframes moving {
  from {
    transform: rotate(0deg); 
  }

  to {
    transform: rotate(360deg); 
  }
}
