div.navigation-pages {
  border-bottom: 0.15rem solid #d3d3d3a3;
  max-width: 1500px;
  div {
    height: 3.5rem;
    div {
      text-align: center;
      .active {
        border-bottom: 0.15rem solid blue;
      }
      a {
        vertical-align: -1rem;
        padding: 1rem;
        text-align: center;
        height: 3.5rem;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 0.15rem solid transparent;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        color: #5e5e5e;
        &:hover {
          color: blue;
          opacity: 0.8;
        }
      }
    }
  }
}
