div.navigation-pages {
  border-bottom: 0.25rem solid #d3d3d3a3;
  max-width: 1500px;
  div {
    height: auto;
    div {
      display: flex;
      height: 3.5rem;
      .active {
        border-bottom: 0.25rem solid blue;
      }
      a {
        margin: 0 auto;
        padding-top: 0.9rem;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 0.25rem solid transparent;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        color: #5e5e5e;
        &:hover {
          color: blue;
          opacity: 0.8;
        }
      }
    }
  }
}
