@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}


input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgrey  !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: lightgrey !important;
}
input:-ms-input-placeholder { /* IE 10+ */
 color: lightgrey !important;
}
input:-moz-placeholder { /* Firefox 18- */
  color: lightgrey !important;
}

a{
  font-size: 1.10rem;
}

