@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');


body {
  font-family: 'Archivo Black', sans-serif !important;
}

footer{
  bottom:0;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgrey  !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: lightgrey !important;
}
input:-ms-input-placeholder { /* IE 10+ */
 color: lightgrey !important;
}
input:-moz-placeholder { /* Firefox 18- */
  color: lightgrey !important;
}

a.navbar-brand{
  font-size: 1.10rem;
}

