.gear {
  height: 25vmin;
  animation: moving 3.5s;
}

@-webkit-keyframes moving {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moving {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
