#main_menu {
    div.row {
    div {
      a.btn {
        width: 2.7rem;
        height: 2.7rem;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.9rem;
        font-family: 'Fredoka One', cursive;
        background-color: rgb(5, 160, 129);
      }
    }
  }
}
