header.main_item_result_photo_page {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
  .navigation_result_video_page {
    position: relative;
    background-color: #232a34ed;
    a {
      color: #fff;
    }
    .row {
      min-height: 4.125rem;
      div {
        text-align: left;
        a.btn {
          width: 2.7rem;
          height: 2.7rem;
          font-size: 2rem;
          font-weight: 900;
          line-height: 1.9rem;
          font-family: "Fredoka One", cursive;
          background-color: rgb(5, 160, 129);
        }
      }
    }
    button {
      position: absolute;
      right: 0.5rem;
      background-color: transparent;
      border: 0;
      outline: none;
      svg {
        font-size: 2rem;
        color: white;
        stroke-width: 20;
      }
    }
    form > div.input-group {
      div {
        span {
          background-color: #fff;
        }
      }
    }
  }
}

div#result_photo_page_submenu {
  margin: 0;
  position: absolute;
  top: 4rem;
  left: 0rem;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: #232a34ed;
  div > div > a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
    font-size: 1.375rem;
    &:hover {
      opacity: 1;
      color: white;
    }
    svg{
      font-size: 1.5rem;
    }
  }
  div.row {
    height: 80%;
    margin: 0;
  }
}

div.streak {
  opacity: 0.3;
  z-index: 3;
  top: 4rem;
  width: 97vw;
  height: 100vh;
  position: absolute;
  background-color: #343a40;
}
