div.trending_photos {
  max-width: 1500px !important;
  div:nth-of-type(1) {
    div {
      h6 {
        font-weight: 700;
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
  div:nth-of-type(2) {
    div:nth-of-type(1) {
      div {
        div {
          div.info-for-image {
            position: relative;
            margin-bottom: 0.5rem;
            cursor: pointer;
            img {
              display: block;
              margin: 0 auto;
              height: auto;
              width: 100%;
            }
            &:hover {
              div.image-photographer {
                visibility: visible;
              }
            }
            span:nth-of-type(3) {
              position: absolute;
              right: 2rem;
              bottom: 1rem;
              z-index: 2;
            }
            span:nth-of-type(2) {
              position: absolute;
              right: 5rem;
              bottom: 1rem;
              z-index: 2;
              svg {
                color: white;
                font-size: 1.5rem;
              }
            }
            span:nth-of-type(1) {
              position: absolute;
              right: 8rem;
              bottom: 1rem;
              z-index: 2;
            }
            div.image-photographer {
              visibility: hidden;
              background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.76),
                transparent
              );
              position: absolute;
              min-height: 4rem;
              width: 100%;
              bottom: 0rem;
              z-index: 1;
              p {
                margin: 1.5rem 1rem 0 1rem;
                color: white;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
    div:nth-of-type(2) {
      div {
        div {
          div.info-for-image {
            position: relative;
            margin-bottom: 0.5rem;
            cursor: pointer;
            img {
              display: block;
              margin: 0 auto;
              height: auto;
              width: 100%;
            }
            &:hover {
              div.image-photographer {
                visibility: visible;
              }
            }
            span:nth-of-type(3) {
              position: absolute;
              right: 2rem;
              bottom: 1rem;
              z-index: 2;
            }
            span:nth-of-type(2) {
              position: absolute;
              right: 5rem;
              bottom: 1rem;
              z-index: 2;
              svg {
                color: white;
                font-size: 1.5rem;
              }
            }
            span:nth-of-type(1) {
              position: absolute;
              right: 8rem;
              bottom: 1rem;
              z-index: 2;
            }
            div.image-photographer {
              visibility: hidden;
              background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.76),
                transparent
              );
              position: absolute;
              min-height: 4rem;
              width: 100%;
              bottom: 0rem;
              z-index: 1;
              p {
                margin: 1.5rem 1rem 0 1rem;
                color: white;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  div.info-for-image {
    min-height: 15rem;
  }
}


@media screen and (max-width: 320px) {
  div.info-for-image {
    min-height: 11rem;
  }
}
