.bg-videos-page {
  position: relative;
  height: 100%;
  max-height: 40rem;
  min-height: 35rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
  background-color: #8e8a8a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  overflow: hidden;
  z-index: 0;
  .video_search_item{
    width: 75%;
    margin: 0 auto;
  }
  video{
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: -1;
     width: -webkit-max-content;
     width: -moz-max-content;
     width: max-content;
    height: auto; 
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: "Archivo Black", sans-serif;
    color: white !important;
  }
  h6 {
    font-size: 1rem;
    font-weight: 400;
  }
  div.input-group {
    input.form-control {
      border-right: transparent;
    }
    div.input-group-append {
      a.input-group-text {
        background-color: #fff;
        border-left: 0;
      }
    }
  }
}

div {
  div {
    div {
      h6 {
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
}

div.popular_video_item {
  position: relative;
  video{
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    width: 100%;
    height: auto;
  }
  &:hover {
    cursor: pointer;
    div.video-person-name {
      visibility: visible;
    }
    span:nth-of-type(1) {
      visibility: visible;
    }
    span:nth-of-type(2) {
      visibility: visible;
    }
  }
  .video_item_control {
    position: absolute;
    top: 35%;
    left: 45%;
    padding: 0.5rem;
  }
  span:nth-of-type(2) {
    visibility: hidden;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    z-index: 2;
  }
  span:nth-of-type(1) {
    visibility: hidden;
    position: absolute;
    right: 5rem;
    bottom: 1rem;
    z-index: 2;
  }
  div.video-person-name {
    visibility: hidden;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.76), transparent);
    position: absolute;
    min-height: 5rem;
    width: 100%;
    bottom: 0.4rem;
    z-index: 1;
    p {
      padding: 2.7rem 1rem 0 1rem;
      margin: 0;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .bg-videos-page {
    padding-top: 13rem;
    padding-bottom: 3rem;
  }
}



@media screen and (max-width: 440px) {
  div.popular_video_item {
    div.video_item_control {
      top: 25% !important;
      left: 40% !important;
    }
  }
  .video_search_item{
    width: 100% !important;
    margin: 0 auto;
  }
}


@media screen and (max-width: 414px) {
  .bg-videos-page {
    padding-top: 7rem !important;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .bg-videos-page {
    padding-top: 5rem !important;
    padding-bottom: 3rem;
  }
}

